<div class="container z-depth-1 ">
    <div class="row  mt-5">

        <div class="row  ">
            <div class="col s6 offset-s3 pt-2 mt-5">
                <img class="ml-3" src="{{URL}}/img/logo-pixels-100.png" alt="Logomarca da racs"><i class=" large material-icons text-color-racs2 ">add</i>
                <img class="ml-3" src="{{URL}}/img/logo-reincidentes-100.png" alt="Logomarca da racs"><i class=" large material-icons text-color-racs2">drag_handle</i>
                <img class="ml-3" src="{{URL}}/img/logo-racs-100.png" alt="Logomarca da racs">
            </div>

            <div class="col s12">
                <h1 class="fzc-30">{{name}}</h1>
            </div>
        </div>
     
        <div class="row">
            <div class="col s12">
                <p class=" flow-text fj-20 pl-2 pr-2 pb-3">{{description}}</p>
            </div>
        </div>

        
    </div>


    <div class="row df">
<div class="col l12 fw">
        <div class="col s4 ">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{URL}}/img/missao-300.jpg">
                </div>
                <div class="card-content">
                <span class="card-title activator grey-text text-darken-4 ">Missão<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4 fc-20">Missão<i class="material-icons right">close</i></span>
                <p class="fzc-15 mt-3">{{mission}}</p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{URL}}/img/visao-300.jpg">
                </div>
                <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Visão<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4 fc-20">Visão<i class="material-icons right">close</i></span>
                <p class="fzc-15 mt-3">{{vision}}</p>
                </div>
            </div>
        </div>

        <div class="col s4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{URL}}/img/valores-300.jpg">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Valores<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4 fzc-20">Valores<i class="material-icons right">close</i></span>
            <p class="fzc-15 mt-3">{{values}}</p>
            </div>
        </div>
        </div>
    </div>

    </div>
</div>
