<nav class="nav-racs">
  <div class="nav-wrapper">
    <a href="{{URL}}/" class="brand-logo mt-1"><img src="{{URL}}/img/logoNav.png" alt="Logomarca da racs"></a>
    <a href="{{URL}}/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Produtos</a></li>
      <li><a href="{{URL}}/sobre">Sobre</a></li>
      
      <li><a class=" btn #00e676 green accent-3" href="{{URL}}/cadastro">Cadastre -se <i
            class="material-icons right">create</i></a></li>
      <li><a class=" btn-large #01579b light-blue darken-4" href="{{URL}}/srv/login">Login <i
            class="material-icons right">lock</i></a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="#">Produtos</a></li>
  <li><a href="#">Sobre</a></li>
  <li><a href="{{URL}}/cadastro">Cadastre -se</a></li>
  <li><a hhref="{{URL}}/srv">Login </a></li>
</ul>