<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  <link rel='stylesheet' href='{{URL}}/app/assets/styles.min.css'>

  <title>{{title}}</title>
</head>

<body>
  <div class="container-fluid" id="content">

    {{header}}



    {{content}}



    {{footer}}

  </div>
  <script src='https://www.google.com/recaptcha/api.js?render=6LfHswQdAAAAAPuerl_eJ6d2NPw7Ognc5OaIwNE4'></script>
  <script src='{{URL}}/app/assets/javascripts.min.js'></script>
</body>
</html>