<div class="container-fluid background-login">
<div class="col 12 vc">
  <div class="card-login ">
    <form class="z-depth-3 " name="formLogin" id="formLogin" method="post">
      <div class="login ">
        <div class="loginLogomarca mb-3 center">
          <img src="{{URL}}/img/logo-srv-200.png" alt="Logomarca da WEF">
        </div>
        <div class="resultadoForm float w100 center m-2 srv-c-2"></div>
        <div class="loginFormulario float w100">
          <input class="float" type="email" name="email" id="email" placeholder="Email:" required>
          <input class="float" type="password" name="password" id="senha" placeholder="Senha:" required>
          <input class="float" type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" required>
          <button class="float m-3 waves-effect waves-light btn-large" value="Entrar" type="submit" name="action">Acessar
            <i class="material-icons right">touch_app</i>
          </button>
          <div class="loginTextos float ml-3 mt-2"><a href="#" class="srv-c-1 fz-10">Esqueci minha senha</a></div>
          <div class="loginTextos float ml-3 mt-2"><a href="{{URL}}/cadastro" class=" srv-c-1 fz-10">Não sou cadastrado</a></div>
        </div>
      </div>
    </form>
 
  </div>
</div>
</div>


