/*Sistema*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    }
*{margin:0; padding: 0; box-sizing: border-box; font-family: Arial,sans-serif;}

a{text-decoration: none; color: #333;}

#content{min-height: 100%; position: relative; }

/*Classes auxiliares*/
.float{float:left;}

.inLineBlock{display: inline-block;}

.w100{width: 100%;}
.w90{width: 100%;}
.w80{width: 100%;}
.w70{width: 100%;}
.w60{width: 100%;}
.w50{width: 100%;}

.h40{height: 40px;}


.center{text-align: center;}
/*----------------------------------- Margin */
.m-1{margin: 5px;}
.m-2{margin: 10px;}
.m-3{margin: 15px;}
.m-4{margin: 20px;}
.m-5{margin: 25px;}
.mt-1{margin-top: 5px;}
.mt-2{margin-top: 10px;}
.mt-3{margin-top: 15px;}
.mt-4{margin-top: 20px;}
.mt-5{margin-top: 25px;}
.ml-1{margin-left: 5px;}
.ml-2{margin-left: 10px;}
.ml-3{margin-left: 15px;}
.ml-4{margin-left: 20px;}
.ml-5{margin-left: 25px;}
.mr-1{margin-right: 5px;}
.mr-2{margin-right: 10px;}
.mr-3{margin-right: 15px;}
.mr-4{margin-right: 20px;}
.mr-5{margin-right: 25px;}
.mb-1{margin-bottom: 5px;}
.mb-2{margin-bottom: 10px;}
.mb-3{margin-bottom: 15px;}
.mb-4{margin-bottom: 20px;}
.mb-5{margin-bottom: 25px;}
/*----------------------------------------------- padding */
.p-1{padding: 5px;}
.p-2{padding: 10px;}
.p-3{padding: 15px;}
.p-4{padding: 20px;}
.p-5{padding: 25px;}
.pt-1{padding-top: 5px;}
.pt-2{padding-top: 10px;}
.pt-3{padding-top: 15px;}
.pt-4{padding-top: 20px;}
.pt-5{padding-top: 25px;}
.pl-1{padding-left: 5px;}
.pl-2{padding-left: 10px;}
.pl-3{padding-left: 15px;}
.pl-4{padding-left: 20px;}
.pl-5{padding-left: 25px;}
.pr-1{padding-right: 5px;}
.pr-2{padding-right: 10px;}
.pr-3{padding-right: 15px;}
.pr-4{padding-right: 20px;}
.pr-5{padding-right: 25px;}
.pb-1{padding-bottom: 5px;}
.pb-2{padding-bottom: 10px;}
.pb-3{padding-bottom: 15px;}
.pb-4{padding-bottom: 20px;}
.pb-5{padding-bottom: 25px;}
/* ------------------------------------------ fonte e alinahmento */
.fz-10{font-size: 10px;}
.fz-15{font-size: 15px;}
.fz-20{font-size: 20px;}
.fz-30{font-size: 30px;}
.fz-40{font-size: 40px;}
.fz-50{font-size: 50px;}
.fz-60{font-size: 60px;}
.fzc-10{font-size: 10px; text-align: center;}
.fzc-15{font-size: 15px; text-align: center;}
.fzc-20{font-size: 20px; text-align: center;}
.fzc-30{font-size: 30px; text-align: center;}
.fzc-40{font-size: 40px; text-align: center;}
.fzc-50{font-size: 50px; text-align: center;}
.fzc-60{font-size: 60px; text-align: center;}
.fzl-10{font-size: 10px; text-align: left;}
.fzl-15{font-size: 15px; text-align: left;}
.fzl-20{font-size: 20px; text-align: left;}
.fzl-30{font-size: 30px; text-align: left;}
.fzl-40{font-size: 40px; text-align: left;}
.fzl-50{font-size: 50px; text-align: left;}
.fzl-60{font-size: 60px; text-align: left;}
.fzj-10{font-size: 10px; text-align: justify;}
.fzj-15{font-size: 15px; text-align: justify;}
.fzj-20{font-size: 20px; text-align: justify;}
.fzj-30{font-size: 30px; text-align: justify;}
.fzj-40{font-size: 40px; text-align: justify;}
.fzj-50{font-size: 50px; text-align: justify;}
.fzj-60{font-size: 60px; text-align: justify;}

/* ALINHA OS ITENS FILHOS NO CENTRO  NA VERTICAL*/
.hc{display: flex; justify-content: center;}
.vc{display: flex; align-items: center; justify-content: center;}

/*Configurações Gerais*/

 




/*Extra-small*/
/* @media screen and (max-width: 480px){
    .cadastro{width: 90%; margin: 15px 5%;}
    input[type='submit']{ width: 70%;}

    .fundo{background: url('/Cars7.1/img/login-deTecnologia-L.jpg') center center no-repeat; background-size: cover; }

    .login{ width: 90%;}
        .loginTextos{ width: 100%; margin-top: 10px; text-align: left; }
}

/*Small*/
/* @media screen and (min-width: 481px) and (max-width: 768px){
    .cadastro{width: 80%; margin: 15px 10%;}
    input[type='submit']{ width: 40%;}

    .fundo{background: url('/Cars7.1/img/login-deTecnologia-M.jpg') center center no-repeat; background-size: cover; }

    .login{width: 60%;}
        .loginTextos{width: 60%;}
} */

/*Medium*/
/* @media screen and (min-width: 769px) and (max-width: 1199px){
    input[type='submit']{ width: 40%; }

    .fundo{background: url('/Cars7.1/img/login-deTecnologia-S.jpg') center center no-repeat; background-size: cover; }

    .login{width: 40%;}
        .loginTextos{ width: 60%;}
} */

/*Large*/
/* @media screen and (min-width: 1200px){

} */ 